
<div class="container">
  <div class="card"*ngFor="let s of Vehicul">
    <div class="card-header"></div>
    <h2>Matricule:{{s.matricule}}</h2>
    <h2>modele:{{s.modele.libellet}}</h2>
    <h2>modele:{{s.modele.marque.libellet}}</h2>
    <h2>modele:{{s.modele.typesVehicules.libellet}}</h2>
    <h2>modele:{{s.dateAchat}}</h2>
    <h2>modele:{{s.dateSOrtie}}</h2>
    <h2>modele:{{s.status}}</h2>
    <h2>modele:{{s.dateMisEnMarche}}</h2>
    <h2>modele:{{s.nombrePlace}}</h2>
    <h2>modele:{{s.etats}}</h2>
    <div class="card-body">
      vvccvv
    </div>
  </div>
</div>
