<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<mat-toolbar>
  responsive sidbar
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    hello
    <button mat-button class="menu-buton">
      <a ><mat-icon >home</mat-icon></a>
    </button>
    <button mat-button class="menu-buton">
      <a routerLink="liste"><mat-icon>drive_eta</mat-icon></a>
    </button>
    <button mat-button class="menu-buton">
      <mat-icon>access_time</mat-icon>
    </button>
    <button mat-button class="menu-buton">
      <mat-icon>airline_seat_recline_extra</mat-icon>
    </button>
    <button mat-button class="menu-buton add">
      <mat-icon>add_circle</mat-icon>
    </button>
    <button mat-button class="menu-buton">
      <mat-icon>brightness_high</mat-icon>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="content mat-elevation-z4">
      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</body>
</html>
